<div class="container">
  <h1 class="page-title">Dashboard</h1>


<section>
  <ul class="tabs">
    <li class="active">My Action Figures</li>
    <li>Reservations</li>
  </ul>

  <ul class="tab__content">
    <li class="active">
      <div class="content__wrapper">
        <% @figures.each do |figure| %>
          <%= render 'components/figure_card_horizontal', figure: figure%>
        <% end %>
      </div>

    </li>
    <li>
      <div class="container">
        <% current_user.reservations.each do |reservation| %>
          <%= render 'components/figure_card_horizontal', figure: reservation.figure%>
        <% end %>
      </div>
    </li>
  </ul>
</section>
<br>
<div class="btn btn-gradient"><%= link_to 'Home Page', root_path %></div>
</div>


