<div class="wrapper">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5)), url('https://cdna.artstation.com/p/assets/images/images/009/676/728/large/charlie-ellis-star-wars-battlefront-ii-2017-screenshot-2018-03-04-13-59-04-93.jpg');">
    <div class="banner-content">
      <h1>The most awesome Action Figures</h1>
      <h2>direct from the best collectors.</h2>
      <%= link_to "Check our collection", figures_path, class: 'btn btn-primary btn-lg'  %>
    </div>
  </div>
</div>
