<div class="wrapper">
  <div class="carousel js-carousel">
    <div class="carousel__showcase">
      <%# The next line represents the current image being showcased. %>
      <%# You guys will probably want to start with the main_photo (as you were before). %>
      <%# But as soon as the JS runs it will be changed to the options used in the Carousel instantiation. %>
      <%# It's still a good idea to leave it here on the view, as it will make the page more responsive (you won't need to wait) %>
      <%# for the carousel to load in order to see the first picture. %>
      <img class="carousel__image js-showcase-image" src="<%= cl_image_path @figure.main_photo %>" alt="Action figure" />
    </div>

    <div class="carousel__controls">
      <a class="carousel__control carousel__control_right js-prev" href="javascript:;" title="Previous"><i class="fa fa-chevron-left"></i></a>

      <ul class="carousel__item-container js-item-container">
        <%# This is where the iteration starts. %>
        <% @figure.pictures.each do |picture| %>
          <%# There were some things missing on the li (classes etc, so I added them back again) %>
          <li class="carousel__item">
            <%= link_to "javascript:;", class: "carousel__link js-carousel-link" do %>
              <img class="carousel__image js-item-image <%=  %>" src="<%= cl_image_path picture.photo %>" alt="Action figure" />
            <% end %>
          </li>
        <% end %>

      </ul>

      <a class="carousel__control carousel__control_right js-next" href="javascript:;" title="Next"><i class="fa fa-chevron-right"></i></a>
    </div>
  </div>
</div>
