.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: solid 1px #ddd;
  height: 100px;
  padding: 0px 48px;
  color: #bbb;
  margin-top: 64px;
  flex-shrink: 0;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #CCC !important;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: #AAA !important;
}
.content {
  flex: 1 0 auto;
}

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}




